<div class="content-container">
  <div class="mb-md">当前时刻：{{ this.currentHour }}</div>
  <canvas id="sunView" class="sun" width="560" height="210"></canvas>
  <div class="test-frame">
    <form nz-form #f="ngForm" se-container="1" labelWidth="100">
      <se label="当前时刻" required>
        <input
          type="text"
          nz-input
          [(ngModel)]="currentHour"
          name="testHour"
          required
          placeholder="请输入当前时刻，格式为6-18的整数"
        />
      </se>
      <se>
        <button nz-button nzType="primary" [disabled]="f.invalid" (click)="test()">确定</button>
      </se>
    </form>
  </div>
</div>
