<div class="container">
  <!-- <header-i18n showLangText="false" class="langs"></header-i18n> -->
  <div class="wrap">
    <div class="top">
      <div class="header">
        <img class="logo" src="./assets/images/logo.png" />
      </div>
    </div>
    <router-outlet></router-outlet>
    <global-footer>
      <!-- <global-footer [links]="links"> -->
      Copyright
      <i nz-icon nzType="copyright"></i> 2019
      <a href="https://github.com/xLong1029/xlong-admin-angular" target="_blank">XLONG JIALIDUN</a> All Rights Reserved.
    </global-footer>
  </div>
</div>
