<div class="content-container">
  <div nz-row>
    <div nz-col nzXs="0" nzSm="2" nzMd="4" nzLg="6" nzXl="8"></div>
    <div nz-col nzXs="24" nzSm="20" nzMd="16" nzLg="12" nzXl="8">
      <form nz-form #f="ngForm">
        <se-container col="1" labelWidth="90" class="user-desc__content">
          <se required label="旧密码">
            <input required nz-input placeholder="请输入旧密码" [(ngModel)]="editForm.oldPassword" name="nickName" />
          </se>
          <se required label="新密码">
            <input required nz-input placeholder="请输入新密码" [(ngModel)]="editForm.newPassword" name="realName" />
          </se>
          <se required label="确认密码">
            <input
              required
              nz-input
              placeholder="请输入确认密码"
              [(ngModel)]="editForm.comfirPassword"
              name="realName"
            />
          </se>
          <se>
            <button nz-button nzType="primary" (click)="submit()" [disabled]="f.invalid">
              提交
            </button>
          </se>
        </se-container>
      </form>
    </div>
    <div nz-col nzXs="0" nzSm="2" nzMd="4" nzLg="6" nzXl="8"></div>
  </div>
</div>
