<ng-container *ngIf="resource.hasMeteorologicalEnv">
    <div>更新时间：{{ updateTime }}</div>
    <!-- 日出日落效果图 -->
    <div class="sun-view-container">
        <canvas id="sunView" class="sun" width="560" height="210"></canvas>
    </div>
    <nz-spin [nzSpinning]="loading">
        <div class="info">
            <sv-container col="2" class="info__item">
                <sv label="气温"><b>{{ infoDetail.now.tmp }} ℃</b></sv>
                <sv label="降水"><b>{{ infoDetail.now.pcpn }} mm</b></sv>
                <sv label="风向"><b>{{ infoDetail.now.wind.dir }}</b></sv>
                <sv label="风力等级"><b>{{ infoDetail.now.wind.sc }} 级</b></sv>
                <sv label="气压"><b>{{ infoDetail.now.pres }} kPa</b></sv>
                <sv label="相对湿度"><b>{{ infoDetail.now.hum }} %</b></sv>
            </sv-container>
            <sv-container col="2" class="info__item">
                <sv label="CO(一氧化碳)"><b>{{ infoDetail.aqi.city.co }} μg/m3</b></sv>
                <sv label="NO2(二氧化氮)"><b>{{ infoDetail.aqi.city.no2 }} μg/m3</b></sv>
                <sv label="O3(臭氧)"><b>{{ infoDetail.aqi.city.o3 }} μg/m3</b></sv>
                <sv label="SO2(二氧化硫)"><b>{{ infoDetail.aqi.city.so2 }} μg/m3</b></sv>
                <sv label="PM2.5"><b>{{ infoDetail.aqi.city.pm25 }} μg/m3</b></sv>
                <sv label="PM10"><b>{{ infoDetail.aqi.city.pm10 }} μg/m3</b></sv>
            </sv-container>
        </div>
    </nz-spin>
</ng-container>
<ng-container *ngIf="!resource.hasMeteorologicalEnv">
    <nz-empty class="empty-container" nzNotFoundContent="暂无此设备"></nz-empty>
</ng-container>